.nav-container {
  display: flex;
  height: 46px;
  background-color: #424242;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.left-side {
  align-items: center;
  display: flex;
}
.btn-container {
  margin: 4px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  color: #c2185b;
  height: 100%;
  margin: 0px 16px;
}
.title-container{
    cursor: pointer; 
}
.cart-icon{
    color:#c2185b;
    margin-right: 16px;
    align-items: center;
}
