<div class="nav-container">
    <div class="left-side">
        <div routerLink="/" routerLinkActive="active" class="title-container" data-test="home-btn">
            <p class="title">EMOTEBIN</p>
        </div>
        <div class="btn-container" data-test="info-btn">
            <button mat-raised-button routerLink="/info" routerLinkActive="active" color="primary">Info</button>
        </div>
    </div>
    <div class="right-side">
        <div class="cart-icon" routerLink="/cart" routerLinkActive="active">
            <mat-icon matBadge={{getCartItemCount()}} matBadgeColor="accent" matBadgeSize="small">shopping_cart</mat-icon>
        </div>
    </div>  
</div>
